@import "./fonts.css";

body {
  margin: 0;
  color: #fff;
  font-size: 26px;
  line-height: 30px;
  background: #253238;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 366px;
  background: url("../assets/images/background.svg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/* body */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.body img {
  width: 209px;
  height: 209px;
  margin-bottom: 153px;
}

.body-text {
  margin-top: 78px;
  font-size: 26px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/* footer */
.footer {
  margin-top: 78px;
}

.footer span {
  font-size: 48px;
  line-height: 59px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.footer span:nth-child(1) {
  color: red;
}

@media (max-width: 1024px) {
  .body-text {
    margin: 78px 28px 0 43px;
  }
}

@media (max-width: 375px) {
  .header {
    background: url("../assets/images/background-mobile.svg") center no-repeat;
  }

  .body-text {
    font-size: 14px;
    line-height: 16px;
    margin: 78px 28px 0 43px;
  }

  .body img {
    width: 150px;
    height: 150px;
    margin-bottom: 44px;
  }

  .footer {
    margin-top: 48px;
  }

  .footer span {
    font-size: 40px;
    line-height: 49px;
  }
}
